
  
  .card {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('bvb.jpg');

  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    border-radius: 0;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
  }
  
  .button {
    border-radius: 0;
    padding: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    margin-bottom: 10px;
  }
  
  .back-button {
    border-radius: 0;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
  }
  



  .image-container img {
    width: 500px;  /* Adjust size of the images */
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  @keyframes moveImages {
    0% {
      transform: translateX(0);  /* Start position */
    }
    100% {
      transform: translateX(300px);  /* End position */
    }
  }

/*  new */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%; /* Use full width or adjust as needed */
  height: 50vh; /* Adjust the height as needed */
  background-image: url('./background.jpg'); /* Ensure the correct path */
  background-size: cover; /* Ensure the image covers the container properly */
  background-position: left center; /* Move the image to the left */
  background-repeat: no-repeat; /* Prevent repeating the background image */
  justify-content: center;
  align-items: center;
  position: relative;

}



.image-container {
  position: absolute;
  top: 20px; /* Adjust as per requirement */
  left: 20px; /* Adjust as per requirement */
  display: flex;
  gap: 10px;
  animation: moveImages 10s infinite linear;
}





@keyframes moveImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px); /* Change this to adjust how far the images move */
  }
}

.corner-video {
  position: absolute;
  bottom: 100px;  /* Adjust this value to move the video down further */
  right: 00px;   /* Keep the right position as is */
  width: 300px;  /* Set a reasonable width for the video */
  height: auto;
  object-fit: cover; /* Ensure the video covers the container */
  border-radius: 10px;
  display: block;
}

